<!-- Encabezado para el control de pacientes -->

<!-- El presente programa ha sido realizado bajo el patrón de diseño estructural para realizar un mantenimiento (inserción, eliminación, comsulta y actualización de datos) a una tabla dentro de una base de datos, en específico a la tabla Categoria en la base de datos "empresa" -->

<!-- Desarrollado por Nelson Alexander Brizuela Ramírez (BR100718) -->

<!-- Archivo de plantilla del encabezado (titulo) (Versión de archivo 1.0) -->


<br>

<!-- Titulos y encabezados -->
    
<div class="container p-3 my-3 text-dark" style = "background-color:rgba(255, 255, 255, 0.801);">

<h1>INFORMACIÓN DE PACIENTES</h1>

<p id = "sub">Panel de control para la administración de la información de los pacientes registrados.</p>

</div>

<!-- Pertenencia y autoría -->